body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1e1e2f, #12121c);
  color: white;
}

h1 {
  margin-top: 10px;
}

canvas {
  background-color: #0a0a0a;
  border: 3px solid #00ffcc;
  margin-top: 10px;

  /* neon glow */
  box-shadow: 0 0 20px #00ffcc;
}


button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.game-wrapper {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white;
}

.overlay button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.controls {
  margin-top: 20px;
  text-align: center;
}

.controls button {
  font-size: 25px;
  padding: 12px 18px;
  margin: 6px;
  border-radius: 10px;
  border: none;
  background: #222;
  color: white;
}

.controls button:active {
  background: #555;
}

/* Hide on desktop */
@media (min-width: 768px) {
  .controls {
    display: none;
  }
}
