body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1e1e2f, #12121c);
  color: white;
}

h1 {
  margin-top: 10px;
}

canvas {
  background: black;
  border: 3px solid white;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

